{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sundfund</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'trucfund/scripts/bootstrap/dis/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'trucfund/scripts/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'trucfund/scripts/css/browse.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'trucfund/scripts/bootstrap/assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'trucfund/scripts/bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
     <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SundFund</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Discover</a></li>
              <li><a href="/create">Create</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span><img src="{% static 'trucfund/scripts/images/profile_picture.jpg' %}" alt=""></span> &nbsp;&nbsp;Nicodemus  
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="#">Backed projects</a></li>
                  <li><a href="#">Favorite projects</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container" id="projects-list">

        <div class="row" id="projects-nav">
          <div class="page-header col-lg-9 col-lg-offset-3">
            <ul class="nav nav-pills pull-right">
              <li class="active"><a href="#">Popular</a></li>
              <li class=""><a href="#">Projects near you</a></li>
              <li class=""><a href="#">Staff picks</a></li>
              <li class=""><a href="#">New projects</a></li>
              <li class=""><a href="#">Ending soon</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-lg-3" id="categories">
          <ul class="category">
            <label for="creative">Creative</label>
            <li><a href="#">Arts</a></li>
            <li><a href="#">Comics</a></li>
            <li><a href="#">Dance</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Publishing</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Theather</a></li>
            <li><a href="#">Video</a></li>
            <li><a href="#">Writing</a></li>
          </ul>
          <ul class="category">
            <label for="causes">Causes</label>
            <li><a href="#">Community</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Environment</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Religion</a></li>
            <li><a href="#">Verified Nonprofit</a></li>
          </ul>
        </div>

        <div class="col-md-10 col-lg-9">


          <div class="row">
            <ul class="thumbnails list-unstyled">
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%"  src="{% static 'trucfund/scripts/images/steelo.jpg' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project A</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><b>60%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$400</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>18</b><br/><small>DAYS</small></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%" src="{% static 'trucfund/scripts/images/causes.png' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project B</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                    <div class="progress"> 
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                          <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><b>250%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$50000</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>FUNDED</b><br/><small>AUG 5</small></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%" src="{% static 'trucfund/scripts/images/smile.jpg' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project C</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-md-4"><b>30%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$1000</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>NOT FUNDED</b><br/><small></small></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%"  src="{% static 'trucfund/scripts/images/shades.png' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project D</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                          <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><b>50%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$800</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>10</b><br/><small>DAYS</small></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%" src="{% static 'trucfund/scripts/images/plane.png' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project E</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                    <div class="progress"> 
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                          <span class="sr-only">90% Complete</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><b>90%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$9000</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>5</b><br/><small>DAYS</small></div>                      
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                    <a href="/project" class="project-url">
                      <img alt="300x200" style="width: 100%" src="{% static 'trucfund/scripts/images/xavier/7.jpg' %}">
                    </a>
                  </div>
                  <div class="caption">
                    <h2>Project F</h2>
                    <p>My project description</p>
                    <p><i class="icon icon-map-marker"></i> Place, Country</p>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-md-4"><b>30%</b><br/><small>FUNDED</small></div>
                      <div class="col-md-4"><b>$1000</b><br/><small>PLEDGED</small></div>
                      <div class="col-md-4"><b>NOT FUNDED</b><br/><small></small></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="row" id="view-more-projects">
            <div class="col-lg-2 col-lg-offset-5">  
              <button type="button" class="btn btn-default">View more</button>  
            </div>
          </div>

        </div>

      </div>
      
    </div>

    <div id="footer">
      <div class="container">
        <ul class="site-footer-links text-muted credit">          
          <li>&copy; 2013 <span title="">SundFund</span></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'trucfund/scripts/bootstrap/assets/js/jquery.js' %}"></script>
    <script src="{% static 'trucfund/scripts/bootstrap/dis/js/bootstrap.min.js' %}"></script>
  </body>
</html>
