{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'trucfund/scripts/bootstrap/dis/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'trucfund/scripts/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'trucfund/scripts/css/project.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'trucfund/stylesheets/font-awesome.min.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'trucfund/scripts/bootstrap/assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'trucfund/scripts/bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SundFund</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/discover">Discover</a></li>
              <li><a href="/create">Create</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span><img src="{% static 'trucfund/scripts/images/profile_picture.jpg' %}" alt=""></span> &nbsp;&nbsp;Nicodemus  
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="#">Backed projects</a></li>
                  <li><a href="#">Favorite projects</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">

        <div class="row" id="project-title-container">
          <div class="page-header project-title">
            <h2 class="project-title-main">XAVIER ESQUIRE</h2>
            <h4>
              <span class="pre-creator">by </span>
              <span class="creator-name"><a href="#">Nana Gyamfi Adonteng</a></span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">  

            <div class="row" id="project-nav">
              <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Updates<span class="badge">0</span></a></li>
                <li><a href="#">Comments<span class="badge">0</span></a></li>
                <li><a href="#">Backers<span class="badge">0</span></a></li>
              </ul>
            </div> 

            <div class="row" id="project-content">
              <div class="col-md-8">  
                <div class="row" id="project-media">
                  <img src="{% static 'trucfund/scripts/images/xavier/7.jpg' %}" style="width: 100%; height: 450px;" alt="">
                </div>
                <div class="row" id="project-social">
                  <a class="btn btn-default" id="project-social-twitter"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-default" id="project-social-facebook"><i class="fa fa-facebook"></i></a> 
                  <a class="btn btn-default" id="project-social-google-plus"><i class="fa fa-google-plus"></i></a>                 
                  <a class="btn btn-default" id="project-social-link"><i class="fa fa-link"></i></a>
                  <a class="btn btn-default pull-right" id="project-social-star"><i class="fa fa-star"></i></a>
                </div>
                <div class="row brief">
                  Fashion fades but STYLE is eternal.
                </div>
                <div class="row description">
                  <label>Description</label>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>
                <div class="row blockers">
                  <label>Possible blockers</label>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>
              </div>
              <div class="col-md-4">                
                <div class="row" id="project-progress">
                  <div class="row">
                    <label for="" class="amount-raised">$2000</label>
                    <p>
                      <span>Raised of </span>
                      <span class="goal">$50,000 </span>
                      <span>goal</span>
                    </p>
                  </div>
                  <div class="row">
                    <label for="" class="amount-raised">30</label>
                    <p>days to go</p>
                  </div>
                  <div class="row">
                    <h4><bold>Funding Period</bold></h4>
                    <p>1st Nov - 30th Nov</p>
                  </div>
                  <div class="row pledge">
                    <a href="" class="btn btn-default" style="width: 100%"><h1>Pledge&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i></h1></a>
                  </div>
                </div>
                <div class="row" id="project-creator-bio">  
                  <div class="row">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </div>
                </div>
                <div class="row" id="project-rewards">
                  <div class="row perks">
                    <h3><i class="fa fa-smile-o"></i> What's in it for me?</h3>
                  </div>
                  <div class="row perk-item">
                    <p class>Pledge $50 or more</p>
                    <p class="backers-limits">
                      <span class="fa fa-heart"></span>
                      <span class="num-backers">21 claimed</span>
                    </p>
                    <p>
                     You will receive ONE KIT deluxe plus one BE SHIELD educational board plus one BE BOARD Arduino Leonardo compatible plus the carrying case and the printed English book. You will also have access to the educational content during the period of private publishing.Shipping is FREE Worldwide.
                    </p>
                    <i class="fa fa-truck"> March 2014</i>
                   </div> 
                  <div class="row perk-item">
                    <p class>Pledge $50 or more</p>
                    <p class="backers-limits">
                      <span class="fa fa-heart"></span>
                      <span class="num-backers">21 claimed</span>
                    </p>
                    <p>
                     You will receive ONE KIT deluxe plus one BE SHIELD educational board plus one BE BOARD Arduino Leonardo compatible plus the carrying case and the printed English book. You will also have access to the educational content during the period of private publishing.Shipping is FREE Worldwide.
                    </p>
                    <i class="fa fa-truck"> March 2014</i>
                   </div> 
                  <div class="row perk-item">
                    <p class>Pledge $50 or more</p>
                    <p class="backers-limits">
                      <span class="fa fa-heart"></span>
                      <span class="num-backers">21 claimed</span>
                    </p>
                    <p>
                     You will receive ONE KIT deluxe plus one BE SHIELD educational board plus one BE BOARD Arduino Leonardo compatible plus the carrying case and the printed English book. You will also have access to the educational content during the period of private publishing.Shipping is FREE Worldwide.
                    </p>
                    <i class="fa fa-truck"> March 2014</i>
                   </div> 
                </div>
              </div>
            </div>          

          </div>
        </div>

      </div>

    </div>

    <div id="footer">
      <div class="container">
        <ul class="site-footer-links text-muted credit">          
          <li>&copy; 2013 <span title="">SundFund</span></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'trucfund/scripts/bootstrap/assets/js/jquery.js' %}"></script>
    <script src="{% static 'trucfund/scripts/bootstrap/dis/js/bootstrap.min.js' %}"></script>
  </body>
</html>
